[AUTHOR]
# NEVER CHANGE this information in future updates! It is used to identify
# the plugin and handle updates.
NAME=MG iSmart Plugin Authors
EMAIL=mgismart@users.noreply.github.com

[PLUGIN]
# V1.0.0 Erste Fassung: MG iSMART (SAIC) an Loxone - Ladestand, Reichweite,
#        Ladesteuerung, Klima, Standort ueber das SAIC-MQTT-Gateway.
VERSION=1.0.2

NAME=mgismart
FOLDER=mgismart

TITLE=MG iSmart

[AUTOUPDATE]
AUTOMATIC_UPDATES=true
RELEASECFG=https://raw.githubusercontent.com/timanders22/LoxBerry-Plugin-MGiSmart/main/release.cfg
PRERELEASECFG=

[SYSTEM]
INTERFACE=2.0
REBOOT=false
LB_MINIMUM=3.0
LB_MAXIMUM=false
ARCHITECTURE=false
