[AUTOUPDATE]
# Diese Datei liegt im Wurzelverzeichnis des GitHub-Repositories und
# steuert das Auto-Update.

VERSION=1.1.4
ARCHIVEURL=https://github.com/timanders22/LoxBerry-Plugin-MGiSmart/archive/refs/tags/v1.1.4.zip

INFOURL=https://github.com/timanders22/LoxBerry-Plugin-MGiSmart/releases/tag/v1.1.4
